<h1>Insert the form to edit an instance of your model here.</h1>
<form action = "/users/edit/<%= @user.id%>" method = "POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for = "new_password">New Password: </label>
    <input type = "password" name="new_password">
    <br>
    <input type = "submit" value = "Update">
</form>