<div>
    <form action = "/project/new" method = "POST">
        <label for = "name">Name Your Project: </label>
        <input type = "text" name="name">
        <br>
        <label for = "description">Write Your Description: </label>
        <input type = "text" name="description">
        <br>
        <input type = "submit" value = "Update">
    </form>
</div>