<div>
<div class="flex justify-center">
 <img src="images/log.png" class="mt-8" >
 </div>
 
    <h2 class="text-center font-bold text-7xl">COLLABORATE</h2>
    <h2 class="text-center font-medium mt-4">A project management tools for developers</h2>
    <div class="flex justify-center mt-16 mb-16">
          <a href="/register" class="button mr-8 rounded bg-[#3B82F6] text-white p-2">Sign Up</a>
          <a href="/sign_in" class="button ml-8 bg-[#3B82F6] rounded text-white p-2">LogIn</a>
    </div>
</div>
