<div class="container">
  <header>

  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2 class="welcome-header">My Basecamp Project</h2>

    <div class="container center">
      <a href="/register" class="button">Register</a>
      <a href="/sign_in" class="button">LogIn</a>
    </div>

  </div>
</div>
